<div class="ui container">
<div class="header item borderless">
    <!-- <h1 class="ui header">{{title}}</h1> -->
    <img class="ui fluid medium image" src="/assets/images/coffee-club.png">
</div>
</div>
<div class="ui two column doubling stackable grid container">
	<div class="column">
		<div class="ui raised container segment">
            <app-list-people></app-list-people>
            <app-add-person (addPersonEmit)="addPerson($event)"></app-add-person>
		</div>
	</div>
	<div class="column">
        <div class="ui raised container segment">
            <app-pair-members></app-pair-members>
        </div>
	</div>
</div>